.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-wrapper {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.app-wrapper {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.form-wrapper{
  /* border: 1px solid red;  */

  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

input {
  margin: 10px 10px 10px 10px;
}